$primary: #eb5d11;
$primary-hover: #f1890c;

$text-primary: #000;
$text-secondary: #909090;

$border-primary: #3d3d3d;
$border-secondary: #474747;

$background-primary: #f1b80a;
$background-secondary: #f1b80a;
$background-tertiary: #fcfcfc;
$background-quaternary: #fcfcfc;
$background-quaternary__blur: #3d3d3d10;

$success: #69af00;
$danger: #ff0a4e;
